extends public/header

block content
	.tabs
		.tab.active(id="tab1")
			include ../views/pages/tab1.pug
		.tab(id="tab2")
				// include ../views/pages/tab2.pug
		.tab(id="tab3")
				// include ../views/pages/tab3.pug
		.tab(id="tab4")
				// include ../views/pages/tab4.pug
	