extends public/header

block content
	.content-block
		.tabs
			.tab.active(id="tab1")
				.content-block
					p This is tab 1 content
			.tab(id="tab2")
				.content-block
					p This is tab 2 content
			.tab(id="tab3")
				.content-block
					p This is tab 3 content
			.tab(id="tab4")
				.content-block
					p This is tab 4 content