.buttons-tab
  a.tab-link.active.button(href="#users") 用户
  a.tab-link.button(href="#news") 新闻
  a.tab-link.button(href="#actives") 活动
.content-block
  .tabs
    #users.tab.active
      .list-block
          ul
    #news.tab
      .content-block
        p This is tab 12 content
    #actives.tab
      .content-block
        p This is tab 13 content