.card.demo-card-header-pic.my_header_pic
	.card-header.color-white.no-border.no-padding(valign="bottom")
		img.card-cover(src=user.headerpic)
	.card-content
		.card-content-inner
			.content-block-title.porsen_name #{user.nicename}
			.list-block
				ul
					li.item-content
						.item-media
							span.icon.icon-card
						.item-inner
							.item-title 个人信息
							.item-after
								a(href="#Mydetail")
									span.icon.icon-right
					li.item-content
						.item-media
							span.icon.icon-card
						.item-inner
							.item-title 与我相关
							.item-after
								a(href="#Myactive")
									span.icon.icon-right
					li.item-content
						.item-media
							span.icon.icon-card
						.item-inner
							.item-title 我的相册
							.item-after
								a(href="#Mypicture")
									span.icon.icon-right
					li.item-content
						.item-media
							span.icon.icon-card
						.item-inner
							.item-title 我的关注
							.item-after
								a(href="#Myfriend")
									span.icon.icon-right
					li.item-content
						.item-media
							span.icon.icon-card
						.item-inner
							.item-title 活动
							.item-after
								a(href="#Myactive")
									span.icon.icon-right
	.card-footer
		a.link(href="#")
		a.link(href="#") 更多
		a.link(href="#")