doctype
html
	head
		mate(charset="utf-8")
		meta(name="viewport",content="height = device-height,width = device-width ,initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		title #{user.username}
		include static
	body
		block content