<link rel="stylesheet" href="/libs/SUI/sm.css">
<link rel="stylesheet" href="/css/public.css">
<script type='text/javascript' src="/libs/jquery.min.js"></script>
<script>JQ=$.noConflict();</script>
<script type='text/javascript' src='/libs/SUI/zepto.js' charset='utf-8'></script>
<script type='text/javascript' src='/libs/SUI/sm.js' charset='utf-8'></script>
<script type='text/javascript' src="/js/public.js"></script>